<div class="home">
  <a href="#">一覧</a>
</div>

<%= form_with( class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "キーワードを検索する", class: "search-input" %>
  <%= form.submit "検索", class: "search-btn" %>
<% end %>

<div class="create-note">
  <a href="#">新規ノート</a>
</div>

<div class="account-menu" id="lists">
<div class="account" >
  <a>アカウント</a>
</div>
    <ul class="account-lists hidden" id="pull-down">
      <li><%= link_to '新規登録', new_user_registration_path, class: "pull-down-list" %></li>
      <li><%= link_to 'ログイン', new_user_session_path, class: "pull-down-list" %></li>
    </ul>
</div>
