<div class="home">
  <a><%= link_to '一覧', root_path %></a>
</div>

<div class="open-box">
<a><%= link_to 'ごみ箱', dust_notes_path %></a>
</div>

<%= form_with(url: search_notes_path, local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "キーワードを検索する", class: "search-input" %>
  <%= form.submit "検索", class: "search-btn" %>
<% end %>

<div class="create-note">
  <a><%= link_to '新規作成', new_note_path %></a>
</div>

<div class="account" id="account">
  <%= link_to edit_user_path(current_user) do %>
  <%= current_user.name %>
  <% end %>
</div>
