<div class="header">
  <%= render "header" %>
</div>

<div class="note-content">
  <div class="note-main">

    <%= form_with model: @note, url: note_path, method: :patch, class:"form", local: true do |f| %>

    <div class="note">
      <div class="note-name-parent">
        <div class="note-name-child">
          <%= f.text_area :note_name, class:"note-name", id:"note-name", placeholder:"ノート名", maxlength:"40" %>
        </div>
        <div class="save-btn-contents">
          <%= f.submit "保存" ,class:"save-btn" %>
        </div>
      </div>
      <div class="note-text-parent">
        <div class="note-text-child">
         <%= f.rich_text_area :text %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>